body {
    background-color: #7eb9ed; /* Light readable color */
    font-family: Arial, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #3454b5;
}

.topnav a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a.active {
    background-color: #2a3db7; /* Active link color */
    color: rgb(0, 0, 0);
}

.topnav a:hover {
    background-color: #a59fdc; /* Non-active links should not change on hover */
    color: black;
}

.box {
    background-color: #3e8396; /* Light background color */
    border: 10px solid #3399ff; /* Darker border */
    padding: 20px;
    margin: 20px;
}

